<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User List (Список пользователей)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
    <style>
        .pointer:hover {cursor: pointer; color:blue; }
        th, td {
        padding: 10px;
        }
    </style>
</head>
<body>
<h2>User List (Список пользователей)</h2>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        <tr class='clickable-row pointer'  th:attr="data-href=@{/get(id=${user.id})}" th:each ="user : ${users}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getFirstName()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td th:utext="${user.getEmail()}">...</td>
            <td th:utext="${user.getAge()}">...</td>
        </tr>
    </table>
</div>
<br>
<br>
<br>

<hr>
<table>
    <p><b>Create user:</b></p>
    <form th:method="POST" th:action="@{/create}" th:object="${user}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <tr>
            <td>
                <label for="firstName">Enter first name:</label>
            </td>
            <td>
                <input type="text" th:field="*{firstName}" id="firstName" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastName">Enter last name:</label>
            </td>
            <td>
                <input type="text" th:field="*{lastName}" id="lastName" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Enter email:</label>
            </td>
            <td>
                <input type="email" th:field="*{email}" id="email" required />
            </td>
        <tr>
            <td>
                <label for="age">Enter age:</label>
            </td>
            <td>
                <input type="number" min="0" max="120" th:field="*{age}" id="age" required />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" style="height:2rem; width:4rem; font-size: medium" >Create</button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>